.Barra{
    width: 80%;
    height: 3rem;
    background-color: #0d1224;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: auto;
    justify-content: space-around;
    gap: 55rem;
    margin-top: 5rem;
}

.bnt-mode{
  width: 100%;
  margin-top: 1rem;
  margin-left: 40rem;
}