*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  background-color: rgb(3, 3, 37);
}
h1,h2,h3,h4,h5,h6{
  color: white;
}
p{
  color: rgb(196, 196, 196);
}
.containerCards{
  display: grid;
  width: 80%;
  max-width: 1280px;
  margin:  auto;
  margin-top: 50px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.bnt-mode{
  width: 100%;
  margin-top: 1rem;
  margin-left: 40rem;
}